.ppImg {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 2000px;
}

.ppFont {
    font-size: 5rem;
}

.img {
    width: 70px;
    border-radius: 2000px;
}

.alignTopRight {
    vertical-align: top;
    text-align: right;
    padding-right: 18px;
}

.borderTop{
    border-top: solid 1px white;
    padding-top: 1rem;
    border-color: #a1a1a1;
}