* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    /* Hide scrollbars */
}

.bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#380808 0%, #030707 100%);
}

.pFlower {
    font-family: 'Indie Flower', cursive;
}

.w-100{
    width: 100%;
}

/* colors */
.white {
    color: white;
}

.white10{
    color: #a1a1a1;
}

/* justify */
.justify-content-center {
    justify-content: center !important;
}

/* align */
.align-items-center {
    align-items: center !important;
}

/* height */
.h-100 {
    height: 100%;
}

/* Typography */
.p1 {
    font-size: 1rem;
}

.p2 {
    font-size: 1.25rem;
}

.p3 {
    font-size: 1.50rem;
}

.p4 {
    font-size: 1.75rem;
}

.p5 {
    font-size: 2rem;
}

.p6 {
    font-size: 2.25rem;
}

.pCenter {
    text-align: center;
}

.pLeft{
    text-align: left;
}

.pRight{
    text-align: right;
}

/* col */
.col {
    flex: auto;
}

.col-1 {

    flex: 8.33%;
}

.col-2 {

    flex: 16.66%;
}

.col-3 {

    flex: 24.99%;
}

.col-4 {

    flex: 33.32%;
}

.col-5 {

    flex: 41.65%;
}

.col-6 {

    flex: 49.98%;
}

.col-7 {

    flex: 58.31%;
}

.col-8 {

    flex: 66.64%;
}

.col-9 {

    flex: 74.97%;
}

.col-10 {

    flex: 83.3%;
}

.col-11 {

    flex: 91.63%;
}

.col-12 {

    flex: 99.96%;
}

/* container */
.row {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* padding */
.p-1 {
    padding: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-5 {
    padding: 2.5rem !important;
}
.pl-2{
    padding-left: 1rem !important;
}

.pr-5{
    padding-right: 2.5rem !important;
}

.pb-3{
    padding-bottom: 1rem !important;
}

/* marggin */
.m-0 {
    margin: 0px !important;
}
.m-1 {
    margin: 0.25rem !important;
}
.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 0.5rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.m-5 {
    margin: 2.5rem !important;
}

.mt-5{
    margin-top: 2.5rem !important;
}

/* Responsive layout*/

/* max-width */
@media (max-width: 810px) {
    .row {
        flex-direction: column;
    }

    .container {
        max-width: 520px;
        flex-direction: column;
    }

    .container-fluid {
        flex-direction: column;
    }
    .hide{
        display: none;
    }
}

/* min-width */
@media (min-width: 576px) {
    .container {
        max-width: 520px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}